{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a class="btn btn-action" href="/">back</a>
            </div>
            <div class="col-xs-12">
                {{ dump(product) }}
            </div>
        </div>
    </div>
{% endblock %}

