* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin: 0;
}

input[type="reset"] {
    display: none;
}

output {
    padding: 0;
}

button,
a {
    cursor: pointer;
    outline: none;
    transition: background .5s;
}

a:focus, a:active {
    outline: none;
}

p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
    margin: 0;
    padding: 0;
}

input {
    border: none;
    background: none;
    outline: none;
}

button,
a {
    border: none;
    background: none;
    outline: none;
    text-decoration: none;
}

figure,
figcaption {
    padding: 0;
    margin: 0;
    display: block;
}

time {
    margin: 0;
    padding: 0;
}

dl,
dt,
dd {
    margin: 0;
    padding: 0;
}

.disable-hover,
.disable-hover * {
    pointer-events: none !important;
}

textarea {
    outline: none;
}

.hide-block {
    display: none;
}

input:-webkit-autofill,
input:focus:-webkit-autofill {
    box-shadow: 0 0 0 1000px #fff inset;
}

a,
button {
    cursor: pointer;
}

.hidden-input {
    display: none;
}

::-ms-clear {
    display: none;
}

h3 {
    margin: 0 !important;
}

a[disabled],
button[disabled] {
    opacity: .65 !important;
}

a[disabled],
button[disabled] small {
    color: #ccc !important;
}

.md-input-placeholder {
    overflow: hidden;
}

.vh-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dibt {
    display: inline-block;
    vertical-align: top;
}

.tal {
    text-align: left;
}

.vam {
    text-align: center;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    width: 100%;
}

.cursor-default {
    cursor: default;
}

/******************************
Flexbox Layout
*******************************/

.header, .navi, .sea-creature-container {
    display: -webkit-flex;
    display: flex;
}

.header {
    justify-content: space-between;
}

.navi {
    flex: 1;
    justify-content: flex-end;
}

.main-content {
    min-height: 300px;
}

.sea-creature-container {
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.notes-container {
    justify-content: space-between;
    border-top: 1px solid #ecf0f1;
}

.footer {
    justify-content: center;
}

@media all and (min-width: 700px) {
    .sea-creature-container {
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        margin: 30px;
    }
}

/******************************
Top Nav General Styling
*******************************/

body {
    margin: 0;
    color: #3a3a3a;
}

.search-bar {
    height: 50px;
    width: 100%;
    display: none;
}

.sea-search > input {
    width: 100%;
    padding: 10px 20px;
    font-size: 22px;
}

.search-input {
    border: none;
    margin: 0;
}

.header {
    padding: 10px 10px 0 7px;
    margin: 0 auto 20px;
    background-color: #fff;
    border-bottom: 1px solid #81b9ba;
}

.logo-icon {
    height: 50px;
    width: auto;
    margin: 9px;
}

h1 {
    margin: 0 0 15px;
}

.logo {
    line-height: 65px;
}

.navi {
    list-style: none;
}

.navi {
    padding-top: 25px;
}

.navi li a {
    text-decoration: none;
    color: #3a3a3a;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 10px;
}

.navi li a:hover {
    color: #000;
}

.navi > li > a:focus, .nav > li > a:hover {
    background-color: transparent;
}

.navi li:last-child a {
    background: #eee;
    border-radius: 2px;
    transition: 200ms ease-in-out;
    padding: 8px 16px 7px;
}

.navi li:last-child a:hover {
    background: rgba(200, 200, 200, .5);
    color: #000;
}

@media all and (min-width: 1030px) {
    .header {
        min-width: 768px;
    }
}

.product-row {
    transition: .3s background;
    cursor: pointer;
}

.product-row:hover {
    background-color: rgba(192, 192, 192, .33);
}
